/* Ailbhe Redmond website css*/

body {
	background: #F3F0F4 !important;
}

h1 {
	color: #B1A6B4
	text-align: center
}

h3 {
	color: #B1A6B4
	text-align: center
}

h5 {
	color: #B1A6B4
	text-align: center
}

.navbar {
	background-color: #443E45;
	/*background-image: url('../assets/cover.jpg')*/
}

.navbar a {
	color: #f2f2f2;
	font-size: 20px;
}

.introduction {
	background-color: #F3F0F4;
	text-align: center;
	padding-top: 50px;
	height: 300px;
}

.introduction p{
	color: #443E45;
	font-size: 20px;
}

body p {
	text-align: center;
	color: #262626;
	font-size: 12px;
}

.modal p {
	color: #262626;
	font-size: 12px;
}

footer {
	text-align: center;
	color: #B1A6B4;
	font-size: 12px;
}

footer a {
	color: #443E45;
	font-size: 12px;
}

.mainImage {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.image {
	width: 100%;
}

.thumb {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto auto;
	padding: 0px;
}

.img-responsive {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto auto;
	height: 80%;
	width: 80%;
}

.container {
	max-width: 80%;
}

.row div {
	padding: .5% .5% !important;
}

div.imagetiles {
	padding: 0px;
}

div.col-md-4.col-xs-6 {
	padding: 0px;
}

.social {
	max-height: 40px;
	max-width: 40px;
}

/*.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .1s ease;
	background-color: #B1A6B4;
}

.row:hover .overlay {
	opacity: 0.7;
}

.text {
  	color: white;
  	font-size: 20px;
  	opacity: 1;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}*/


/*http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery*/

.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.uparrow {
  background-image:none;
  margin-top:10%;
  width:5%;
}

/*makes the thumbs have grey under them on hover */
/*.thumb:hover
{
 	filter: gray; /* IE6-9 */ 
	/*-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
	/*-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	/*-moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	/*box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75); 
}